body{
    perspective: 600px;
    overflow-x:hidden;
    background-color: grey;
}

div {
    position: sticky;
    top:0;
    display: -webkit-flex;
    display:-moz-flex;
    display:-ms-flex;
    display:-o-flex;
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;

}

div img {
    width: 700px;
    height:600px;
    box-shadow:2px 9px 20px rgba(0.0,0,0.8);
}

div:nth-child(1) img {
    transform:rotate(10deg);

}

div:nth-child(2) img {
    transform:rotate(0deg);
}

div:nth-child(3) img {
    transform:rotate(-10deg);
}